{% extends 'dashboard.html.twig' %}

{% block content %}

    <!-- status -->
    <div class="grid grid-cols-3 gap-5 lg:grid-cols-2">

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgToday'
        )) }}
        <!-- card -->

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgWeek'
        )) }}
        <!-- card -->

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgMonth'
        )) }}
        <!-- card -->

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgQuarter'
        )) }}
        <!-- card -->

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgYear'
        )) }}
        <!-- card -->

        <!-- card -->
        {{ render(controller(
            'App\\Controller\\DashboardController::avgAllTime'
        )) }}
        <!-- card -->

    </div>
    <!-- end status -->

    <!-- Unsold cars & Sold last year -->
    <div class="grid grid-cols-7 lg:grid-cols-1 gap-5 mt-5">

        <!-- cars sold last year table -->
        <div class="box col-span-2">
            {{ render(controller(
                'App\\Controller\\DashboardController::carsSoldLastYear', {'sliced': true, 'button': true}
            )) }}
        </div>

        <!-- cars sold last year table -->

        <!-- unsold cars -->
        <div class="box col-span-3">
            {{ render(controller(
                'App\\Controller\\DashboardController::unsoldCars', {'sliced': true, 'button': true}
            )) }}
        </div>
        <!-- unsold cars -->

        <!-- Models on sale -->
        <div class="box col-span-2">
            {{ render(controller(
                'App\\Controller\\DashboardController::modelsOnSale', {'sliced': true, 'button': true}
            )) }}
        </div>
        <!-- end Models on sale -->

    </div>
    <!-- end Unsold cars & Sold last year -->

    <!-- Cars currently on sale -->
    <div class="grid grid-cols-1 lg:grid-cols-1 gap-5 mt-5">



    </div>
    <!-- end Cars currently on sale -->

{% endblock %}